@page "/fetchdata"

@using CA.Data
@using Newtonsoft.Json
@inject BankingServices BankingService

<h1>Danh sách giao dịch</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (body == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Số tài khoản</th>
                <th>Mô tả</th>
                <th>Ngày Diễn Ra</th>
                <th>Giá trị</th>
                <th>Số tài khoản</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var line in body)
            {
                <tr>
                    <td>@line.SoTaiKhoan</td>
                    <td>@line.MoTa</td>
                    <td>@line.NgayDienRa</td>
                    <td>@line.GiaTri</td>
                    <td>@line.SoTaiKhoan</td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-primary justify-content-end" @onclick="RefreshData">Refresh</button>
}

@code {
    private List<Transaction> body;
    private Response data;
    string myData;

    protected override async Task OnInitializedAsync()
    {

        if (Preferences.ContainsKey("body", myData))
        {
            body = JsonConvert.DeserializeObject<List<Transaction>>(Preferences.Get("body", string.Empty));
        }
        else
        {
            await InvokeAsync(async () =>
            {
                data = await BankingService.GetInfoBankingAsync();
                body = data.data;
                myData = JsonConvert.SerializeObject(body);
                Preferences.Set("body", myData);
                StateHasChanged(); // Force UI to update
            });

        }

    }
    private Task RefreshData(MouseEventArgs e)
    {
        throw new NotImplementedException();
    }
}
